.venv/
venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
.ipynb_checkpoints/

# Raw datasets
data/raw/*.tsv

# Python environment
.env

# Generated processed datasets
data/processed/movies_feature_engineered.csv